<section class="no-padding bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
		{% assign sorted_pages = site.pages | sort: "order" %}
		{% for p in sorted_pages %}
		{% if p.is_portfolio %}
		    <div class="col-lg-4 col-sm-6">
                <a href="{{ p.url }}" class="portfolio-box">
                    <img src="{{ p.header-img-th | absolute_url }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">{{ p.title }}</div>
                        </div>
                    </div>
                </a>
            </div>
		{% endif %}
		{% endfor %}
        </div>
    </div>
</section>
